{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- The big featured header, it uses blog cover image as a BG if available --}}
<header class="site-header outer {{#if @blog.cover_image}}" style="background-image: url({{@blog.cover_image}}){{else}}no-cover{{/if}}">
    <div class="inner">
        <div class="site-header-content">
            <h1 class="site-title">
                {{#if @blog.logo}}
                    <img class="site-logo" src="{{@blog.logo}}" alt="{{@blog.title}}" />
                {{else}}
                    {{@blog.title}}
                {{/if}}
            </h1>
            <h2 class="site-description">{{@blog.description}}</h2>
        </div>
        {{> "site-nav"}}
    </div>
</header>

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
<div style="width:100%">
    <div style="width:80%;float:left">
        <div class="inner"> 
            <div class="post-feed">
                {{#foreach posts}}

                    {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                    {{> "post-card"}}

                {{/foreach}}
            </div>

        </div>
    </div>
    <div style="width:20%;float:right">
        <div class="post-card">

            <div class="post-card-content">
       
            <header class="post-card-header">
              
                {{#get "tags" limit="all"}}
    
                    {{#foreach tags}}
                
                        <a href="{{url}}" ><h2 style="margin-left:10%" class="post-card-tags">{{name}}</h2> </a>
                
                    {{/foreach}}
    
                {{/get}}
            </header>
            
       
        </div>
            
        
</div>

<div class="post-card">

            <div class="post-card-content">
       
            <header class="post-card-header">
              
                {{#get "users" limit="all"}}
    
                    {{#foreach users}}
                
                        <a href="{{url}}" ><h2 style="margin-left:10%" class="post-card-tags">{{name}}</h2> </a>
                
                    {{/foreach}}
    
                {{/get}}
            </header>
            
       
        </div>
            
        
</div>
    </div>
</div>
    

    
</main>
